{% extends "products/base.html" %}
{% block title %}
    Update Product
{% endblock %}
{% block content %}
<div class="container">
    <h2>Update Product</h2>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.product_category.label_tag }}
            {{ form.product_category }}
        </div>
        <div class="form-group">
            {{ form.product_code.label_tag }}
            {{ form.product_code }}
        </div>
        <div class="form-group">
            {{ form.product_name.label_tag }}
            {{ form.product_name }}
        </div>
        <div class="form-group">
            {{ form.product_description.label_tag }}
            {{ form.product_description }}
        </div>
        <button type="submit" class="btn btn-primary">Update Product</button>
    </form>
</div>
{% endblock %}